.van-swipe-cell__right {
  color: #fff;
  font-size: 15px;
  width: 65px;
  height: 44px !important;
  display: inline-block;
  text-align: center;
  line-height: 44px;
  background-color: #f44;
}
.van-avatar {
    display: inline-block;
    text-align: center;
    background: #ccc;
    color: #fff;
    white-space: nowrap;
    position: relative;
    overflow: hidden;
    vertical-align: middle;
    width: 32px;
    height: 32px;
    line-height: 32px;
    border-radius: 16px;
}
.van-avatar-img{
    width: 100%;
    height: 100%;
}
.displayflex>div{
    display: flex;
}
.displayflex-1{
    flex: 1;
}
.tright{
    text-align: right;
}
.tleft{
    text-align: left;
}
.tab .van-tabs__nav {
  margin: 0.2rem 3rem 0 3rem;
}
.tab .van-tabs__wrap {
  height: 1.8rem !important;
}
.red-color{
  color: red;
}
.mg15{
  margin: 15px;
}
.mgt10{
  margin-top: 10px;
}
.pd15{
  padding: 15px;
}
.pd10{
  padding: 10px;
}
.flex-center{
  display: flex;
  justify-content: center;
  align-items: center;
}
.flex-wrap{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
}
.flex-space-between{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.space{
  width: 100%;
  height:1.3rem;
}
.selectConverstionType .van-tabs{
  width: 8rem;
}
.selectConverstionType .van-tabs__nav--card{
  margin: 0 1.6rem;
}
.fieldDiv .van-field .van-cell__title {
    max-width: 0.6rem;
}
.fieldDiv_long .van-field .van-cell__title {
    max-width: 1.5rem;
}
.myzone_index .van-pull-refresh{
  overflow: inherit;
}
.cellTop .van-cell__right-icon{
    line-height: 1rem;
}
#app .grayBg {
  background-color: #F2F2F2;
  height: 100%;
}
#app .blackBg {
  background-color: black;
}
#app .grayBarBg{
  background-color: #F2F2F2;
}
.noData{
  text-align: center;
  font-size: 0.4rem;
}
#app .classify-button{
  background-color: #409EFF;
  border: 0.026667rem solid #409EFF;
}
.flex-between{
  display: flex;
  justify-content: space-between;
}
.text-img{
  background-size: 100% 100%;
  background-repeat: no-repeat;
  width: 100%;
}