.van-swipe-cell__right {
  color: #fff;
  font-size: 15px;
  width: 65px;
  height: 44px !important;
  display: inline-block;
  text-align: center;
  line-height: 44px;
  background-color: #f44;
}
.van-avatar {
    display: inline-block;
    text-align: center;
    background: #ccc;
    color: #fff;
    white-space: nowrap;
    position: relative;
    overflow: hidden;
    vertical-align: middle;
    width: 1rem;
    height: 1rem;
    line-height: 1rem;
    border-radius: 50%;
}
.van-avatar-large {
    display: inline-block;
    text-align: center;
    background: #ccc;
    color: #fff;
    white-space: nowrap;
    position: relative;
    overflow: hidden;
    vertical-align: middle;
    width: 1.2rem;
    height: 1.2rem;
    line-height: 1.2rem;
    border-radius: 50%;
}
.van-avatar-small{
    display: inline-block;
    text-align: center;
    background: #ccc;
    color: #fff;
    white-space: nowrap;
    position: relative;
    overflow: hidden;
    vertical-align: middle;
    width: 0.8rem;
    height: 0.8rem;
    line-height: 0.8rem;
    border-radius: 50%;
}
.van-avatar-img{
    width: 100%;
    height: 100%;
}
.displayflex>div{
    display: flex;
}
.displayflex-1{
    flex: 1;
}
.tright{
    text-align: right;
}
.tleft{
    text-align: left;
}
.tab .van-tabs__nav {
  margin: 0.2rem 3rem 0 3rem;
}
.tab .van-tabs__wrap {
  height: 1rem !important;
}
.mg15{
  margin: 15px;
}
.mgt10{
  margin-top: 10px;
}
.pd15{
  padding: 15px;
}
.pd10{
  padding: 10px;
}
.flex-center{
  display: flex;
  justify-content: center;
  align-items: center;
}
.flex-wrap{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
}
.flex-space-between{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.flex-start{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
}
.flex-column{
  display: flex;
  flex-direction: column;
}
.space{
  width: 100%;
  height:1.3rem;
}
.selectConverstionType .van-tabs{
  width: 8rem;
}
.selectConverstionType .van-tabs__nav--card{
  margin: 0 1.6rem;
}
.fieldDiv .van-field .van-cell__title {
    max-width: 0.8rem;
}
.fieldDiv_long .van-field .van-cell__title {
    max-width: 1.5rem;
}
.myzone_index .van-pull-refresh{
  overflow: inherit;
}
.cellTop .van-cell__right-icon{
    line-height: 1rem;
}
#app .grayBg {
  background-color: #F2F2F2;
  height: 100%;
}
#app .blackBg {
  background-color: black;
}
#app .grayBarBg{
  background-color: #F2F2F2;
}
.noData{
  text-align: center;
  font-size: 0.4rem;
}
#app .classify-button{
  background-color: #409EFF;
  border: 0.026667rem solid #409EFF;
}
.flex-between{
  display: flex;
  justify-content: space-between;
}
.text-img{
  background-size: 100% 100%;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
}
.gray-font{
  color: #969799;
}
.fixed-top{
  position: fixed;
  top: 0;
  z-index: 2;
  width: 100%;
}
.fixed-content-box{
  margin-top: 1.2rem;
}
.zhifubao-icon{
  background-image: url('../images/icon/zhifubao.png');
  background-size: 100% 100%;
  width: 0.6rem;
  height: 0.6rem;
  margin: 0 0.2rem 0.08rem 0.2rem;
  display: inline-block;
  vertical-align: middle;
}
.weixin-icon{
  background-image: url('../images/icon/weixin.png');
  background-size: 100% 100%;
  width: 0.6rem;
  height: 0.6rem;
  margin: 0 0.2rem 0.08rem 0.2rem;
  display: inline-block;
  vertical-align: middle;
}
.fixed-footer-btn-zone{
  position: fixed;
  bottom: 0.8rem;
  width: 100%;
}
.van-content-box{
  margin: 1.226667rem 0 0 0;
}
/* 消息模块右滑删除键 -- 开始 */
.messageModule .van-swipe-cell__right{
  padding: 0.15rem 0.05rem;
  text-align: center;
}
/* 消息模块右滑删除键 -- 结束 */

/* 举报页举报理由 -- 开始 */
.accusation-cell .van-cell__title{
  color: #969799;
}
.accusation-cell .van-field__control:disabled{
  color: #323233;
}
/* 举报页举报理由 -- 结束 */

/* 充值页 -- 开始 */
.mywallet .van-coupon-list__list{
  padding: 0.2rem 0 0 0;
}
.mywallet .van-coupon-list__close {
    bottom: 0.35rem;
}
/* 设置页 -- 结束 */

/* 对话页 -- 开始 */
.conversationActionsheet .van-actionsheet {
    max-height: 75%;
}
/* 对话页 -- 结束 */

/* 速推计划/达人 -- 开始 */
.definedMoneyInput>div:first-child{
  max-width: 0.6rem;
}
.darenActionsheet .van-popup {
    height: 75%;
}
/* 速推计划/达人 -- 结束 */

/* 优惠券 -- 开始 */
.coupon-module .van-coupon-list__close {
    left: 0;
    bottom: 0.34rem;
    position: absolute;
    font-weight: 500;
}
/* 优惠券 -- 结束 */
