.flex{
  display: flex;
}
.flex-center{
  display: flex;
  justify-content: center;
  align-items: center;
}
.flex-wrap{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
}
.flex-space-between{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.flex-space-around{
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}
.flex-start{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
}
.flex-column{
  display: flex;
  flex-direction: column;
}
.van-avatar {
    display: inline-block;
    text-align: center;
    background: #ccc;
    color: #fff;
    white-space: nowrap;
    position: relative;
    overflow: hidden;
    vertical-align: middle;
    width: 1rem;
    height: 1rem;
    line-height: 1rem;
    border-radius: 50%;
}
.van-avatar-large {
    display: inline-block;
    text-align: center;
    background: #ccc;
    color: #fff;
    white-space: nowrap;
    position: relative;
    overflow: hidden;
    vertical-align: middle;
    width: 1.2rem;
    height: 1.2rem;
    line-height: 1.2rem;
    border-radius: 50%;
}
.van-avatar-small{
    display: inline-block;
    text-align: center;
    background: #ccc;
    color: #fff;
    white-space: nowrap;
    position: relative;
    overflow: hidden;
    vertical-align: middle;
    width: 0.8rem;
    height: 0.8rem;
    line-height: 0.8rem;
    border-radius: 50%;
}
.van-avatar-img{
    width: 100%;
    height: 100%;
}
.displayflex>div{
    display: flex;
}
.displayflex-1{
    flex: 1;
}
.tlefc{
    text-align: center;
}
.tright{
    text-align: right;
}
.tleft{
    text-align: left;
}
.mg15{
  margin: 0.4rem;
}
.mg10{
  margin: 0.266667rem;
}
.mg5{
  margin: 0.133333rem;
}
.mgr5{
  margin-right: 0.133333rem;
}
.mgt5{
  margin-top: 0.133333rem;
}
.mgt10{
  margin-top: 0.266667rem;
}
.mgl10{
  margin-left: 0.266667rem;
}
.mgr10{
  margin-right: 0.266667rem;
}
.mgb5{
  margin-bottom: 0.133333rem;
}
.mgb10{
  margin-bottom: 0.266667rem;
}
.mgb15{
  margin-bottom: 0.4rem;
}
.mgt15{
  margin-top: 0.4rem;
}
.pdb5{
  padding-bottom: 0 0 0.133333rem 0;
}
.pdt5{
  padding-top: 0.133333rem;
}
.pdl5{
  padding-left: 0.133333rem;
}
.pdl10{
  padding-left: 0.266667rem;
}
.pdb10{
  padding-bottom: 0.266667rem;
}
.pdr10{
  padding-right:  0.266667rem;
}
.pdb15{
  padding-bottom:  0.4rem;
}
.pdt10{
  padding-top: 0.266667rem;
}
.pd10{
  padding: 0.266667rem;
}
.pd15{
  padding: 0.4rem;
}
.pdt15{
  padding-top: 0.4rem;
}
.pdl15{
  padding-left: 0.4rem;
}
.pdr15{
  padding-right: 0.4rem;
}
.position-r{
  position: relative;
}
.display-block{
  display: inline-block;
}
.space{
  width: 100%;
  height: 1.6rem;
}
.top-space{
  height: 1.2rem;
}
#app .grayBg {
  background-color: #F2F2F2;
  height: 100%;
}
#app .blackBg {
  background-color: black;
}
#app .grayBarBg{
  background-color: #F2F2F2;
}
.noData{
  text-align: center;
  font-size: 0.4rem;
}
#app .classify-button{
  background-color: #409EFF;
  border: 0.026667rem solid #409EFF;
}
.flex-between{
  display: flex;
  justify-content: space-between;
}
.text-img{
  background-size: 100% 100%;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
}
.gray-font{
  color: #969799;
}
.fixed-top{
  position: fixed;
  top: 0;
  z-index: 2;
  width: 100%;
}
.fixed-content-box{
  margin-top: 1.2rem;
}
.zhifubao-icon{
  background-image: url('../images/icon/zhifubao.png');
  background-size: 100% 100%;
  width: 0.6rem;
  height: 0.6rem;
  margin: 0 0.2rem 0.08rem 0.2rem;
  display: inline-block;
  vertical-align: middle;
}
.weixin-icon{
  background-image: url('../images/icon/weixin.png');
  background-size: 100% 100%;
  width: 0.6rem;
  height: 0.6rem;
  margin: 0 0.2rem 0.08rem 0.2rem;
  display: inline-block;
  vertical-align: middle;
}
.fixed-footer-btn-zone{
  position: fixed;
  bottom: 0.8rem;
  width: 100%;
}
.van-content-box{
  margin: 1.226667rem 0 0 0;
}
